@model NewsSite.Models.ViewModels.CreateUserViewModel
@{
    ViewBag.Title = "Добавление пользователя";
}
<h1>Новый пользователь</h1>
<hr />

<form asp-action="Create" asp-controller="Users">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label">Пароль</label>
        <input type="password" asp-for="Password" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Nickname" class="control-label">Никнейм</label>
        <input type="text" asp-for="Nickname" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-outline-secondary" />
    </div>
</form>