@{
    ViewData["Title"] = "Об организации";
}

<div class="blog-posts">
    <div class="row">
        <div class="col-lg-8">
            <h2 class="text-center">Реквизиты</h2>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Фирменное (полное официальное) наименование Банка</td>
                        <td>Общество с ограниченной ответственностью "Хоум кредит Банк"</td>
                    </tr>
                    <tr>
                        <td>Сокращенное наименование Банка</td>
                        <td>ООО "ХКФ Банк"</td>
                    </tr>
                    <tr>
                        <td>Полное наименование Банка на английком языке</td>
                        <td>Home Credit & Finance Bank Limited Liability Company</td>
                    </tr>
                    <tr>
                        <td>Сокращенное наименование Банка на английском языке</td>
                        <td>HCF Bank</td>
                    </tr>
                    <tr>
                        <td>Регистрационный номер</td>
                        <td>316</td>
                    </tr>
                    <tr>
                        <td>Основной государственный регистрационный номер</td>
                        <td>1027700280937 (04.10.2002)</td>
                    </tr>
                    <tr>
                        <td>ИНН</td>
                        <td>7735057951</td>
                    </tr>
                    <tr>
                        <td>БИК</td>
                        <td>044525245</td>
                    </tr>
                    <tr>
                        <td>Адрес из устава</td>
                        <td>125040, г. Москва, ул. Правды, д. 8, корпус 1</td>
                    </tr>
                    <tr>
                        <td>Адрес фактический</td>
                        <td>125124, г. Москва, ул. Правды, д. 8, корпус 1</td>
                    </tr>
                    <tr>
                        <td>Телефон</td>
                        <td>(495) 785-82-22</td>
                    </tr>
                </tbody>
            </table>
        </div>
        @await Html.PartialAsync("_MenuPartial")
    </div>
</div>


