@model IEnumerable<Category>

<div class="sidebar-item categories">
    <div class="sidebar-heading">
        <h2>Категории</h2>
    </div>
    <div class="content">
        <ul>
            @foreach(var category in Model){
            <li>
                <a asp-action="All"
                asp-controller="News"
                asp-route-category="@category.Name">
                    - @category.Name
                </a>
            </li>
            }
        </ul>
    </div>
</div>